################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/AliDDNSNet/obj/Release/netcoreapp2.1
/AliDDNSNet/obj
/AliDDNSNet/bin
/AliDDNSNet/Properties/PublishProfiles
/.idea/
/.idea/.idea.AliDDNSNet/.idea/.gitignore
/AliCloudDynamicDNS/obj/
/AliCloudDynamicDNS.Test/obj/
/AliCloudDynamicDNS/bin/
/AliCloudDynamicDNS.Test/bin/
/.vs