{
  // 阿里云的 Access Id。
  "AccessId": "AccessId",
  // 阿里云的 Access Key。
  "AccessKey": "AccessKey",
  // 主域名。
  "MainDomain": "example.com",
  // 需要批量变更的子域名记录集合。
  "SubDomains": [
    {
      // 子域名记录类型。
      "Type": "A",
      // 子域名记录前缀。
      "SubDomain": "sub1",
      // TTL 时间。
      "Interval": 600
    },
    {
      "Type": "A",
      "SubDomain": "sub2",
      "Interval": 600
    }
  ]
}